.container {
  display: flex;
}

.connectionList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

.connectionCard {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: #f3f3f3;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.profileImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.details {
  flex: 1;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1rem;
  color: #666;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.messageButton {
  background: black;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.messageButton:hover {
  background: #6818a5;
}

.rejectButton {
  background: rgb(209, 209, 209);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  color: black;
}

.rejectButton:hover {
  background: #999999;
}

.details button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .connectionList {
    max-width: 100%;
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .connectionList {
    padding: 1rem;
  }

  .connectionCard {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .profileImage {
    width: 5rem;
    height: 5rem;
  }

  .buttonContainer {
    flex-direction: column;
    width: 100%;
  }

  .buttonContainer button {
    width: 100%;
    margin: 0.25rem 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  .connectionList {
    gap: 1rem;
    padding: 0.5rem;
  }

  .connectionCard {
    padding: 1rem;
  }

  .name {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .buttonContainer {
    flex-direction: column;
    width: 100%;
  }

  .buttonContainer button {
    width: 100%;
    margin: 0.25rem 0;
  }

  .messageButton {
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
  }
}