.mainContainer {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid #e6e6e9;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ccc;
  border-radius: 50%;
}

.navLeft a {
  margin-left: 0.5rem;

  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-right: 0.5rem;
}

.signupButton {
  background-color: #343a40;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 5px;

  cursor: pointer;

  color: #f4f4f6;
  font-size: 0.9rem;
  font-family: inherit;
  text-transform: capitalize;
}

.signupButton:hover {
  background-color: #212529;
}

.container {
  display: flex;
  flex-grow: 1;
}

.imageSection {
  max-width: 1200px;
  width: 60%;
  height: 100%;

  background-image: url("../assets/campus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginSection {
  min-width: 500px;
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
}