.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e6e6e9;
  background-color: #ffffff;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex-shrink: 0;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ccc;
  border-radius: 50%;
}

.navLeft a {
  margin-left: 0.5rem;

  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-right: 0.5rem;
}

.btn {
  background-color: #02010a;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 5px;

  cursor: pointer;

  color: #f4f4f6;
  font-size: 0.9rem;
  font-family: inherit;
  text-transform: capitalize;
}

.btn:hover {
  background-color: #702dff;
  transition: background-color 0.2s;
}

@media (max-width: 620px) {
  .navbar {
    justify-content: center;
  }
}
