.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.main {
  background-image: url("../assets/signup-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;

  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 2.5rem 2rem;
  max-width: 580px;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title {
  font-size: 1.8rem;
  color: #212529;
  font-weight: 600;

  margin-left: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.input {
  flex-grow: 1;

  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;

  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.countryCodeInput {
  flex-grow: 0;

  width: 5rem;
}

.passwordContainer {
  display: flex;
  flex-direction: column;

  position: relative;

  flex-grow: 1;
}

.passwordInput {
  width: 100%;
}

.passwordToggle {
  position: absolute;
  right: 1rem;
  bottom: 50%;
  transform: translateY(50%);

  background: transparent;
  border: none;
  cursor: pointer;

  font-size: 0.8rem;
  font-family: inherit;
  color: #666666;
}

.passwordHint {
  font-size: 0.8rem;
  color: #666666;

  margin-left: 0.5rem;
  margin-top: -0.5rem;
}

.termsCheckbox {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 0.9rem;
  color: #666666;

  margin-top: 1rem;
}

.termsCheckbox input {
  accent-color: #6e44ff;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;

  flex-shrink: 0;
}

.btn {
  background-color: #212529;
  border: none;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;

  color: #ffffff;
  font-size: inherit;
  font-family: inherit;
}

.btn:hover {
  background-color: #5a36cc;
  transition: background-color 0.2s;
}
